DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=database
DATABASE_PORT=5432

# Auth service
AUTH_GRPC_PORT=9001
CUSTOMER_GRPC_PORT=9002
API_GATEWAY_GRPC_PORT=9003
RESTAURANT_GRPC_PORT=9004
CLIENT_GRPC_PORT=9005
COURIER_GRPC_PORT=9006

# JWT
JWT_SECRET=askdpMI@

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=eda
REDIS_DB=0

# Kafka
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_NUM_PARTITIONS=3
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_LOG_RETENTION_HOURS=168
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
