# Database
DATABASE_USER=eda-1
DATABASE_PASSWORD=eda-1thebest
DATABASE_NAME=eda-1
DATABASE_HOST=database
DATABASE_PORT=5432

# gRPC порты сервисов
AUTH_GRPC_PORT=9001
RESTAURANT_GRPC_PORT=9004
CUSTOMER_GRPC_PORT=9005
COURIER_GRPC_PORT=9006

# gRPC адреса для gateway (имя сервиса в docker network + порт)
AUTH_GRPC_ADDR=auth:9001
RESTAURANT_GRPC_ADDR=restaurant:9004
CUSTOMER_GRPC_ADDR=customer:9005
COURIER_GRPC_ADDR=courier:9006

# metrics
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
AUTH_METRICS_PORT=9091
RESTAURANT_METRICS_PORT=9094
CUSTOMER_METRICS_PORT=9095
COURIER_METRICS_PORT=9096

# Gateway
GATEWAY_HTTP_PORT=8080

# JWT
JWT_SECRET=askdpMI@

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=eda
REDIS_DB=0

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CLIENT_ID=1
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_NUM_PARTITIONS=3
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_LOG_RETENTION_HOURS=168
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TOPIC=orders.events



user
{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZTY1NGQ4MTMtYjZhNy00OWVhLTlhMzEtZGUzYjFiNDc0YjVmIiwicm9sZSI6InVzZXIiLCJqdGkiOiIiLCJleHAiOjE3NzY4NDg4NDYsImlhdCI6MTc3Njg0Nzk0Nn0._RKCw55JjcnceD-H7UluP_U_vG--F0FXfoEcMU7gqpU",
    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZTY1NGQ4MTMtYjZhNy00OWVhLTlhMzEtZGUzYjFiNDc0YjVmIiwicm9sZSI6InVzZXIiLCJqdGkiOiI1NzQzNGFlMi00OGYwLTQ2Y2MtYjYzMy03YWY0Yzg0MGRmNzciLCJleHAiOjE3Nzc0NTI3NDYsImlhdCI6MTc3Njg0Nzk0Nn0.N0cQnkxf70egZfHHlIKDWZ_M-dsKw4oe_0CgswS0F_s",
    "role": "USER_ROLE_CUSTOMER",
    "user_id": "e654d813-b6a7-49ea-9a31-de3b1b474b5f"
}
{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZTY1NGQ4MTMtYjZhNy00OWVhLTlhMzEtZGUzYjFiNDc0YjVmIiwicm9sZSI6InVzZXIiLCJqdGkiOiIiLCJleHAiOjE3NzY4NDk0OTksImlhdCI6MTc3Njg0ODU5OX0.znXzzgAcijWYVkOLyIIp9oxD51JI567YNR_xvoXenDE",
    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZTY1NGQ4MTMtYjZhNy00OWVhLTlhMzEtZGUzYjFiNDc0YjVmIiwicm9sZSI6InVzZXIiLCJqdGkiOiI5MmQzZTg0Ni1lYmI3LTQxYTktOGUxMC1kNDk2NWM4ZDIwNTAiLCJleHAiOjE3Nzc0NTMzOTksImlhdCI6MTc3Njg0ODU5OX0.r0dlu0C8deUkruZ9qn2BATFB0zKpqYd-Rrho6WbqQZg",
    "role": "USER_ROLE_CUSTOMER",
    "user_id": "e654d813-b6a7-49ea-9a31-de3b1b474b5f"
}


restaurant
{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNmNlZWFlNjgtNDQ0YS00NzNhLTgzOTItNDk5NGNlZTFhZWM4Iiwicm9sZSI6InJlc3RhdXJhbnQiLCJqdGkiOiIiLCJleHAiOjE3NzY4NDg3NzAsImlhdCI6MTc3Njg0Nzg3MH0.uKQnsqG8cut3hmwQRPj2g9aA7jVjuNN8FgRO6KChSsY",
    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNmNlZWFlNjgtNDQ0YS00NzNhLTgzOTItNDk5NGNlZTFhZWM4Iiwicm9sZSI6InJlc3RhdXJhbnQiLCJqdGkiOiJkOGM2MjI3MC1lMzJkLTQzYzUtODNlYy1mNDUzMDFkODE3NTMiLCJleHAiOjE3Nzc0NTI2NzAsImlhdCI6MTc3Njg0Nzg3MH0.NeOHQJBmnEdkXcA51U8QcdVZX368M0_juUvV5_-6JBk",
    "user_id": "6ceeae68-444a-473a-8392-4994cee1aec8"
}
pr1
{
    "id": "7dd50b92-689c-413c-8b78-17a925ad0b3c",
    "status": "OK"
}
pr2
{
    "id": "e81d7697-d6d9-49d8-957b-8cdd2af3154d",
    "status": "OK"
}
p3
{
    "id": "11ccac50-aca1-4430-8422-1e02bdcef186",
    "status": "OK"
}


courier
{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMzFhODRiOWItNDQ3MC00Yzg2LTg2NzgtZWJmNjg3NDFiNjA5Iiwicm9sZSI6ImNvdXJpZXIiLCJqdGkiOiIiLCJleHAiOjE3NzY4NDg3NzIsImlhdCI6MTc3Njg0Nzg3Mn0.3F4sqhDLsNYCIAUSpsFY-iFZlriIwCJciXbemZVJxR4",
    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMzFhODRiOWItNDQ3MC00Yzg2LTg2NzgtZWJmNjg3NDFiNjA5Iiwicm9sZSI6ImNvdXJpZXIiLCJqdGkiOiIxMTMwZjllMi1kNmYzLTQxYWYtYjNjMi0xODZlYzY4ZWZhZWEiLCJleHAiOjE3Nzc0NTI2NzIsImlhdCI6MTc3Njg0Nzg3Mn0.K_2S7zS9eQpdnBUJPMMdoSGqzoBKmdxCugX8y9zHxbk",
    "user_id": "31a84b9b-4470-4c86-8678-ebf68741b609"
}