DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=database
DATABASE_PORT=5432

# Auth service
AUTH_GRPC_PORT=9001
CUSTOMER_GRPC_PORT=9002
API_GATEWAY_GRPC_PORT=9003
RESTAURANT_GRPC_PORT=9004
CLIENT_GRPC_PORT=9005
COURIER_GRPC_PORT=9006

# JWT
JWT_SECRET=askdpMI@

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=eda
REDIS_DB=0